/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section:nth-child(1){
  display: flex;
}
a{
  text-decoration: none;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* justify-content: center; */
  /* border: 1px solid green; */
  /* overflow: hidden; */
  background-color: #f9f9f9;
}
body,html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #5000CA;
  border-radius: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100vw;
  height: 70px;
  align-items: center;
  position: fixed;
  /* max-width: 80%; */
  z-index: 99;
  padding: 0 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  top: 0;

}
p{
  margin: 0;
}
nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 20px;
  color: #2d2e32;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1;
}

nav ul a{
  color: #2d2e32;

}
nav>div:nth-child(1) {
  font-size: 19.89px;
  color: #2d2e32;
  display: flex;
  width: 10%;
  line-height: 1.2;
  font-weight: bold;


}
nav>div:nth-child(1)>a{
  color: #2d2e32;

}
section{
  /* height: 100vh; */
}
#nav-icon1 {
  display: none;
}

#leftSideText {
  /* border: 1px solid crimson; */
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  justify-content: center;
}

#rightSideImage {
  /* border: 1px solid red; */
}

.homePageSection {
  display: flex;
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 30px;
  height: 45px;
  position: relative;
  /* margin: 50px auto; */
  /* left: 0; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #5000CA;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 10px;
}

#nav-icon1 span:nth-child(2) {
  top: 20px;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

  #user-detail-name {
    font-size: 55px;
    /* height: 50px; */
    display: flex;
    /* margin: 10px; */
    align-items: center;
    font-weight: 900;
    display: inline;
    /* border: 1px solid black; */
    color: #5000CA;

  }
.resGro{
  display: flex;
  margin-top: 10px;
  gap: 1rem;
}
#greet,
#user-detail-intro1 {
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  
  gap: 4px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  min-height: 100vh;
  display: flex;
  width: 100%;
  padding-top: 86px;
  background-color: white;
  z-index: 98;
  flex-direction: column;
  font-size: 30px;
  gap: 2rem;
  align-items: center;
  list-style: none;
  transition: .25s ease-in-out;
  /* background-color: gray */
}

.mobile-nav.is-active {
  left: 0;
}

#MyImage {
  /* position: relative; */
  /* width: 90%; */
}

.homePageSection {
  width: 80%;
  margin: auto;
  /* margin-top: 1000px; */
  /* padding-top: 156px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

#hiImage {
  width: 6%;
}

.socialLinks {
  color: #2d2e32;
  font-size: 30px;
  display: flex;
  gap: 1rem;
}

#resume {
  box-sizing: border-box;
  background-color: #5000CA;
  color: #f9f9f9;
  width: 6rem;
  /* padding: 8px; */
  /* padding-left: 15px; */
  padding-top: 9px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  /* border: px solid white; */
}
#resume a{
  color: #f9f9f9;

}
#contactBtn {
  box-sizing: border-box;
  /* background-color: #5000CA; */
  color: #5000CA;
  width: 6rem;
  padding: 8px;
  font-weight: 600;
  padding-left: 15px;
  border-radius: 5px;
  border: 2px solid #5000CA;
}
#contact a{
  color: #5000CA;
}
.socialLinks > a:nth-child(1){
  color: #0a66c2;
}
.socialLinks > a:nth-child(2){
  color: black;
}
.socialLinks > a:nth-child(3){
  color: #1a8cd8;
}
#svgDiv{
  width: 40%;
}
.aboutMe{
  display: flex;
  width: 90%;
  /* margin: auto; */
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
}

#textDiv{
  width: 60%;
  font-size: 20px;
  line-height: 2;
}
#aboutText{
  text-align: center;
  font-size: 40px;
  color: #5000CA;
  padding: 5px;
  /* width: 17%; */
margin: auto ;
margin-bottom: 40px;
font-weight: 600;
  border-bottom: 3px solid #5000CA;
}
#headd{
  line-height: 1.4;
  font-size: 25px;
  font-weight: 600;
}
.techGrid{
  width: 90%;
  /* margin: auto; */
  gap: 2.3rem;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-auto-rows: 1fr;
}
.techGrid > div{
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 13%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  color: #2d2e32;
  justify-content: center;
  border-radius: 10px;
}
.techGrid > div > img{
  /* border-radius: 50%; */
 aspect-ratio: 1/1;
 width: 90%;
object-fit: contain;
}
#techText{
  font-size: 40px;
  color: #5000CA;
  width:25%;
  padding: 5px;
/* margin: auto  ; */
margin-bottom: 40px;
font-weight: 600;
border-bottom: 3px solid #5000CA;
  text-align: center;
}
#about{
  justify-content: center;
  height: auto;
  padding-bottom: 50px;
}
.project-card{
  display: flex;
  padding: 30px;   
  align-items: center;
  /* border: 1px solid black; */
  gap: 14px;
  text-align: center;
  background-color: white;
  border-radius: 1.3rem;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.imgProject > img{
  width: 100%;
  border-radius: 1.3rem;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.projectWrapper{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.infoProject{
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  /* padding: 40px; */
}
.project-tech-stack{
  display: flex ;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  font-size: 25px;
}
.infoProject > h3{
  font-size: 1.7rem;
}
.infoProject > p{
  font-size: 18px;
  width: 70%;
}
.links{
  display: flex;
  gap: 10px;
}

.links > a{
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 5px;
}
.links > a:nth-child(1){
  color: #5000CA;
  /* border: 1px solid #5000CA; */
}
.links > a:nth-child(2){
  background-color: #5000CA;
  color: white;
}
#projects{
  height: auto;
  padding-bottom: 50px;
}
#workText{
  font-size: 40px;
  color: #5000CA;
  width:15%;
  padding: 5px;
margin: auto  ;
margin-bottom: 40px;
font-weight: 600;
border-bottom: 3px solid #5000CA;
  text-align: center;
}
#skills{
  height: auto;
  padding-bottom: 40px;
}
.project-tech-stack > div{
  gap: 10px;
}
#stats,#daysWork{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: #5000CA;
  font-weight: 600;
  gap: 30px;
}
#daysWork > img{
width: 100%;
}
#github{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
}
#stats > div{
  display: flex;
  gap: 10px;
}
#stats > div > img{
  width: 100%;
}
#gitt{
  /* justify-content: center; */
  height: auto;
  padding-bottom: 40px;
}
#contact{
  background-color: #5000CA;
  width: 100vw;
  height: auto;
  padding: 70px 0;
}
#contact > div{
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  
}
#contact a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}
#contact > div > h3{
  font-size: 40px;
  border-bottom: 3px solid white;

}
@media only screen and (max-width: 767px) {

  nav>div:nth-child(2),
  nav>div:nth-child(3) {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  nav>div:nth-child(1) img {
    width: 100%
  }

  #nav-icon1 {
    display: block;
  }
  .homePageSection{
    flex-direction: column-reverse;
  }
#leftSideText {
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}
#greet,#fsd{
  justify-content: center;
  font-size: 27px;
}
#user-detail-name{
  font-size: 40px;
}
#svgDiv{
  display: none;
}
#MyImage{
  width: 100%;
}
#textDiv{
  width: auto;
  font-size: 16px;
  text-align: center;
}
#headd{
  font-size: 20px;
}
#aboutText{
  font-size: 30px;
  width: 60%;
}
.techGrid{
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
}
#techText{
  font-size: 30px;
  width: 80%;
}
#workText{
  font-size: 30px;
  width: 50%
  /* color: green; */
}
.project-card{
  flex-direction: column;
}
.projectWrapper{
  width: 90%;
}
.project-tech-stack{
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
}
.infoProject > p{
  width: auto;
}
#stats > div{
  flex-direction: column;
  
}
#gitt p{
  border-bottom: 3px solid #5000CA;
}
#contact > div{
  font-size: 18px;
}
}